$font-stack: 'source-sans-pro', sans-serif;

$primary-color: #333;
$white: #fff;
$patina: #699;
$nebula: #d2e1dd;
$iron: #dadbdf;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 600;
$font-size-x-large: 32px;

body {
  padding: 2em;
  margin: 8px;
  display: block;
  font: 100% $font-stack;
  color: $primary-color;
}
