.commentForm {
  section {
    display: block;
    border: 0;
    border-top: 1px solid $patina;
    background-color: $nebula;
    padding: 6px;

    input {
      @include no-style;
      width: 90%;
    }

    button {
      @include no-style;
      float: right;
      img {
        width: 1.5em;
        height: 1.5em;
      }
    }
  }

}
