.loginForm {
  label {
    margin: 6px 0;
    font-size: 0.75rem;
    display: block;
    color: $rolling-stone;
  }

  input {
    @include material-input;
    margin-bottom: 24px;
    color: $black;
  }

  button {
    @include button-material;
  }
}
