.comment {
  margin: 12px 0 12px 0;
  position: relative;

  section {
    background: $primary-color;
    padding: 6px;
    border-radius: 18px;
    border-bottom-right-radius: 0;
    color: $white;

    button {
      @include no-style-button;
      float: right;

      img {
        height: 1.5em;
        width: 1.5em;
        fill: $accent-color;
      }
    }
  }
}

.commentAuthor {
  display: block;
  text-align: right;
  padding-top: 6px;
}
