.commentForm {
  section {
    display: block;
    border: 0;
    border-top: 1px solid $primary-color;
    background-color: $white;
    padding: 6px;

    input {
      @include no-style-button;
      width: 90%;
    }

    button {
      @include no-style-button;
      float: right;
      img {
        width: 1.5em;
        height: 1.5em;
      }
    }
  }
}
